<div class="bgdiv"></div>
<h1 class = "title">BeerMe!</h1>
<div class="users">
 <h4>Create an Account</h4>
  <div class="create_account">
    <%= @errors if @errors %>
    <form action = "/users" method = "post">
      <label>First name:</label>
      <input type = "text" name = "user[first_name]" placeholder = "First Name">
      <label>Last name:</label>
      <input type = "text" name = "user[last_name]" placeholder = "Last Name">
      <label>Email</label>
      <input type = "email" name = "user[email]" placeholder = "Email">
      <label>Password</label>
      <input type="password" name = "user[password]" placeholder = "Password">
      <input type = "submit" value = "Sign Up!">
    </form>
  </div>

  <h4>Sign In</h4>
  <div class="login">
    <form action = "/login" method = "post">
      <label>Email</label>
      <input type = "email" name = "email" placeholder = "Email">
      <label>Password</label>
      <input type="password" name = "password" placeholder = "Password">
      <input type = "submit" value = "Log In">
    </form>
  </div>
</div>

<!-- <div class="getlocation">
  <h1>Find Your Location: </h1>
  <form class = "locator" action = "/" method = "post">
    <input type = "submit" value = "Get location">
  </form>
  <h2>Here is your location:</h2>
  <section class = "longitude"></section>
  <section class = "latitude"></section>
  <section class = "fail"></section>
</div> -->

