<div class="test">
  <h1>Find Your Location: </h1>
  <form class = "locator" action = "/" method = "post">
    <input type = "submit" value = "Get location">
  </form>
  <h2>Here is your location:</h2>
  <section class = "longitude"></section>
  <section class = "latitude"></section>
  <section class = "fail"></section>
</div>