<h2>Create an Account or Sign In</h2>
<div class="create_account">
  <%= @errors if @errors %>
  <form action = "/users" method = "post">
    <label>First name:</label>
    <input type = "text" name = "user[first_name]" placeholder = "First Name">
    <label>Last name:</label>
    <input type = "text" name = "user[last_name]" placeholder = "Last Name">
    <label>Email</label>
    <input type = "email" name = "user[email]" placeholder = "Email">
    <label>Password</label>
    <input type="password" name = "user[password]" placeholder = "Password">
    <input type = "submit" value = "Sign Up!">
  </form>
</div>

<!-- <div class="login">
  <form action = "">
    <label>First name:</label>
    <input type = "text" name = "firstname" placeholder = "First Name">
    <label>Last name:</label>
    <input type = "text" name = "lastname" placeholder = "Last Name">
    <label>Email</label>
    <input type = "text" name = "email" placeholder = "Email">
    <input type = "submit" value = "Sign Up!">
  </form>
</div> -->

<div class="getlocation">
  <h1>Find Your Location: </h1>
  <form class = "locator" action = "/" method = "post">
    <input type = "submit" value = "Get location">
  </form>
  <h2>Here is your location:</h2>
  <section class = "longitude"></section>
  <section class = "latitude"></section>
  <section class = "fail"></section>
</div>

