<!-- change to erb file -->
<!-- <link rel="stylesheet" href="/Users/michaelperez/devbootcamp/phase/2/beerme/beerme/public/css/application.css"> -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style>

</style>

<div class="container">
<header>
  <nav>
    <a href="/"><img src="/Users/michaelperez/devbootcamp/phase/2/beerme/beerme/public/images/beer-icon.png" alt="Beer icon"></a>
    <ul>
      <li><i class="fa fa-sign-in si-icon"></i></li>
      <li><a href="#">Sign in</a></li>
    </ul>
  </nav>
</header>

<section>
  <!-- login icon  -->
</section>
<section>
  <!-- <div class="icon-box"><i class="fa fa-map-marker fa-4x"></i></div> -->
</section>
<section>
<!-- favorites icon -->
</section>
<section>
  <p>Log in, or create a secure account. BeerMe will use your geolocation to find the nearest venues for you to purchase a beer.</p>
</section>
<section>
  <p>You are provided with the pertinent information on each venue. Compare venues' ranks and see their current popularity. Use BeerMe's directions feature to map your route to a chosen locale.</p>
</section>
<section>
  <p>Save your favorite venues or store the places you want to visit in the future. They'll be there anytime you revisit the site.</p>
</section>


</div>