<h2>Welcome, <%= @user.first_name.capitalize %>!</h2>
<p>You look like you could user beer. Here are the nearest places to find one:</p>
<p>Longitude: <%=session[:lon]%></p>
<p>Latitude: <%=session[:lat]%></p>
<p><%= get_fs_data %></p>

<!-- <p class = "date"></p>
 -->
<a href="/logout">log out</a></p>



